.folder_container{
    padding-left: 1rem;
    width:max-content;
}

.nested_folders{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition-duration);
}

.collapsable{
    list-style: none;
    padding-inline-start: 0;
    margin-left: 1rem;
    overflow: hidden;
    grid-row: 1 / span 2
}

.show_collapsable{
    grid-template-rows: 1fr;
}

.folder_box{
    width:max-content;
    display: flex;
    align-items: center;;
}

.show_btn{
    border: none;
    background-color: transparent;
    height: 2rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_btn_placeholder{
    height: 2rem;
    width: 2.2rem;
}

.triangle{
    width: 1rem;
    height: 1rem;
    background-color: var(--color-gray);
    clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
    transition: transform var(--transition-duration);
}

.rotate_btn{
    transform: rotate(90deg);
}

.collapsable .folder_name{
    border-left: var(--tree-line-hight) solid var(--color-gray);
}

.folder_name_container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.folder_name{
    padding: 3px 1rem;
    border-radius: 8px;
    position: relative;
    font-weight: var(--fw-bold);
    color: inherit;
    background-color: transparent;
    border: none;
}

.folder_name:focus-visible, .folder_name:hover, .show_btn:focus-visible{
    box-shadow: var(--outline-box-shadow);
    outline: none;
}

.collapsable .folder_name{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.clicked_btn{
    background-color: var(--color-gray-select);
}

.folder_icon{
    flex: 0 0 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.collapsable .folder_icon{
    margin-right: 1rem;
}

.folder_icon svg{
    width: 100%;
    height: 100%;
    fill: var(--color-gray);
}

.collapsable > .folder_container .folder_name::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: var(--tree-line-hight);
    top: 50%;
    left: 0rem;
    background-color: var(--color-gray);
}

.loading_btn{
    opacity: .7;
    cursor: auto;
}

.loading_btn:hover{
    outline: none;
}