body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root, #modal{
    height: 100%;
    background-color: var(--bg-main);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--color-gray);
}

button{
    cursor: pointer;
}

.animate_bg{
    background-image: linear-gradient( 90deg, var(--color-gray-select) 0%, #a9a9ad 4%, var(--color-gray-select) 5%);
    background-size: 300%;
    background-position: 100% 0;
    animation: shimmer 1.7s linear infinite ;
    opacity: .5;   
}

@keyframes shimmer {
    to{
        background-position: -100% 0;
    }
}