.dialog_container{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border-radius: var(--border-radius-box);
    border: var(--border-box);
    background-color: var(--bg-main);
}

.dialog, .error_modal{
    padding: var(--pd-box);
    z-index: 10;
    color: var(--color-gray);
    position: relative;
}

.dialog_container:focus-visible{
    box-shadow: var(--outline-box-shadow);
    outline: none;
}

.dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.2);
}

.modal_header {
    font-size: var(--fs-large);
    text-align: center;
}

.modal_content{
    margin:  var(--gap-md) 0 var(--gap-bg);
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.form button{
    margin-top: var(--gap-md);
}

.close_btn{
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 3rem;
    height: 3rem;
    border-radius: .8rem;
    border: none;
    background-color: transparent;
}

.close_btn:focus-visible{
    box-shadow: var(--outline-box-shadow);
    outline: none;
}

.close_btn::after, .close_btn::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 70%;
    left: 14px;
    top: 5px;
    background-color: var(--color-gray);
    border-radius: 2px;
    transition: background-color var(--transition-duration);
} 

.close_btn::after{
    transform: rotate(45deg);
}

.close_btn::before{
    transform: rotate(-45deg);
}

.close_btn:hover::after, .close_btn:hover::before{
    background-color: var(--bg-btn-hover);
}

.read_file_module{
    height: 60vh;
    width: 48rem;
    overflow-y: scroll;
    margin-top: 1.2rem;
}

.error_modal{
    position: fixed;
    top: 50%;
    left: 50%;
}

.message_modal{
    display: flex;   
    flex-direction: column;
    gap: var(--gap-sm)
}

.message_modal h2 {
    margin-bottom: 1.2rem;
}

.message_modal button {
    margin-top: 1.2rem;
}

.search_btns{
    display: flex;
    gap: 1.2rem;
}

.search_btns button{
    flex: 1 1 50%
}