.main_container{
    background-color: var(--bg-current-dir);
    border-radius: var(--border-radius-box);
    border: var(--border-box);
    padding: var(--pd-box);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.directory_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.current_directory{
}
.btn_container{
    display: flex;
    gap: 1rem;
}

.btn_container button{
    display: flex;
    gap: 1rem;
    font-weight: var(--fw-bold);
}

.btn_container button svg{
    width: 2rem;
}

.btn_container button:nth-child(2) svg{
    fill: #fff;
    stroke: #fff;
    stroke-width: 1px;
    zoom: 1.2;
}

.btn_container button:last-child svg{
    fill: #fff;
    stroke: #fff;
    zoom: 1.2;
}

.svg_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
}

.svg_icon svg{
    width: 100%;
    height: 100%;
    fill: #fff;
}

.back_btn{
    border: none;
    background: transparent;
    position: absolute;
    left: -10rem;
    top: 0;
    width: 3.5rem;
    height: 3.5rem;
    padding: 4px;
    border-radius: var(--border-radius-sm);
    transition: background-color var(--transition-duration);
    box-shadow: var(--btn-box-shadow);
}

.back_btn:hover{
    background-color: var(--bg-btn-hover);
}

.back_btn:focus-visible{
    box-shadow: none;
    outline: var(--outline-focus);

}

.back_btn svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}